body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-gradient {
  background: linear-gradient(314deg, #1f3ac7 0%, #16298f 100%);
  border-radius: 12px;
  margin-bottom: -100px;
  padding: 50px 100px;
}
